@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
}
 .logo{ 

    font-size: 30px;
    font-weight: bolder;
}
 a{
    text-decoration: none;
    color: rgb(2, 2, 2);  
    cursor: pointer;
}

a:hover{
    color: #e64323;
}
.container {
    
    width: 600px;
    height: auto;
    background-color: #445A6F;
    color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    margin-top: 50px;
}

.wrapper {
    flex-direction: column;
    display: flex;
}

.wrapper div {
    background-color: #e63946;
    padding: 20px;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    font-size: 20px;
}

input:focus {
    outline: none;
}

h2 {
    margin-top: 40px;
}
.button {
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: #EEF2FF;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536DFE;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536DFE;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 56px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
  }
  
  .button:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }